@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

:root {
  --main-bg-image: url("./images/bg-body-image.png");
  --main-text-color: #ffffff;
  --bg-color: #000000;
  --accent-red: #BF0202;
  --card-bg: #161616;
  --bg-level-1: #0C0C0C;
  --bg-level-2: #161616;
  --bg-level-3: #252525;
  --secondary-text-color: #ADADAD;
  --border-color: #5F5F5F;
  --select-bg: #252525;
  --modal-bg: #000000;
  --border-red-header: #BF0202;
  --border-red: #BF0202;
}

body.light-theme {
  --main-text-color: #000000;
  --bg-color: #f5f5f5;
  --accent-red: #8B0000;
  --card-bg: #ffffff;
  --bg-level-1: #F0F0F0;
  --bg-level-2: #F9F9F9;
  --bg-level-3: #FFFFFF;
  --secondary-text-color: #555555;
  --border-color: #D1D1D1;
  --select-bg: #D1D1D1;
  --modal-bg: #D1D1D1;
  --border-red-header: #000000;
  --border-red: #000000;
}

* {
  color: var(--main-text-color);
  transition: background-color 0.4s ease, color 0.4s ease;
}

body {
  background-image: var(--main-bg-image);
  background-color: var(--bg-color);
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

body > * {
  width: 100%;
  max-width: 1920px;
}

.header {
  width: 100%;
  padding: 21px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border: 2px solid var(--border-red);
  border-top: none;
  background-color: var(--bg-color);
}
.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
}
.header__logo > h1 {
  font-size: 22px;
  color: var(--accent-red);
  font-weight: 700;
}
.header__logo > h2 {
  color: var(--main-text-color);
}
.header__nav {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
}
.header__nav > form {
  width: 400px;
  background-color: white;
  padding: 8px 24px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
}
.header__nav > form > input {
  width: 100%;
  color: #000000;
}
.header__nav > form > label {
  display: none;
}
.header__buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
}

.nav {
  border: 2px solid var(--border-red-header);
  border-radius: 30px;
}

.buttons__heart-icon {
  border: 2px solid var(--border-red-header);
  border-radius: 6px;
  padding: 0 24px 0 24px;
  height: 34px;
  display: none;
  align-items: center;
}
.buttons__button {
  border: 2px solid var(--border-red-header);
  border-radius: 6px;
  padding: 0 24px 0 24px;
  height: 34px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  margin-top: 100px;
  margin-bottom: 100px;
}
.main__modal-window {
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.main__modal-window.open {
  display: flex !important;
}
.main__signin {
  display: none;
  flex-direction: column;
  padding: 34px 25px;
  background-color: var(--modal-bg);
  gap: 11px;
  border-radius: 10px;
  border: solid 2px #5F5F5F;
  align-items: center;
  justify-content: center;
}
.main__signin.open {
  display: flex !important;
}
.main__nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.main__nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 21px;
}
.main__forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
  background-color: var(--modal-bg);
  border-radius: 10px;
  gap: 25px;
  border: solid 2px #5F5F5F;
}
.main__formsin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  gap: 16px;
}
.main__formsup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  gap: 16px;
}
.main__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  gap: 4px;
}
.main__login > input {
  background-color: var(--bg-color);
  padding: 7px 10px;
  border-radius: 5px;
  border: solid 1px #5F5F5F;
}
.main__pass-btn {
  width: 100%;
  background-color: var(--bg-color);
  padding: 8px 0;
  border-radius: 5px;
  border: solid 1px #5F5F5F;
}
.main__signup {
  display: none;
  flex-direction: column;
  padding: 34px 25px;
  background-color: var(--modal-bg);
  gap: 11px;
  border-radius: 10px;
  border: solid 2px #5F5F5F;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.main__signup.open {
  display: flex !important;
}
.main__films {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 26px 22px;
  background-color: var(--bg-level-3);
  gap: 33px;
}
.main__suggestions-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.films__films-slider {
  width: 100%;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 30px;
}
.films__title-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 28px;
}
.films__title-container > h2 {
  width: 195px;
  font-size: 32px;
}
.films__title-container > p {
  width: 195px;
  font-size: 16px;
}

.films-slider__films-group {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
  animation: spin 60s infinite linear;
}

.films-group__film-card {
  width: 138px;
  height: 207px;
}
.films-group__film-card > a > img {
  width: 138px;
  height: 207px;
}
.films-group__film-card > a > img:hover {
  transform: scale(0.95);
  transition: transform 0.5s ease;
  border: 1px solid gold;
}

.suggestions-page__suggestions {
  width: 200px;
  height: auto;
  background-color: var(--bg-level-1);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  padding: 20px 28px;
  gap: 30px;
}
.suggestions-page__abt-watch {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 12px;
}
.suggestions-page__abt-watch > h2 {
  font-size: 20px;
}
.suggestions-page__abt {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 5px;
}
.suggestions-page__abt > p > a {
  color: #ADADAD;
  font-size: 14px;
}
.suggestions-page__abt-watch2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 12px;
}
.suggestions-page__abt-watch2 > h2 {
  font-size: 20px;
}
.suggestions-page__abt2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 5px;
}
.suggestions-page__abt2 > p > a {
  color: #ADADAD;
  font-size: 14px;
}
.suggestions-page__films-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--bg-level-2);
  padding: 36px 49px;
  gap: 30px;
}
.suggestions-page__genre-item {
  font-size: 14px;
  color: #ADADAD;
}

.films-page__filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 74px;
}
.films-page__grid-cont {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 30px;
}
.films-page__grid-cont > select {
  width: 200px;
  background-color: var(--select-bg);
  padding: 9px 5px;
  border-radius: 5px;
}
.films-page__recently-films {
  width: 90%;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
}
.films-page__films-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 138px);
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  column-gap: 50px;
  perspective: 1000px;
}
.films-page__film-card-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 10px;
  transition: transform 0.2s ease-out;
  will-change: transform;
  transform-style: preserve-3d;
}
.films-page__film-card-cont:hover {
  transition: transform 0.8s ease;
  border: 1px solid gold;
}
.films-page__film-image > a > img {
  width: 138px;
  height: 207px;
}
.films-page__card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}
.films-page__card-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.films-page__pagination {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
}
.films-page__pagination-btn {
  width: 40px;
  height: 40px;
  border: 2px solid var(--accent-red);
  border-radius: 30px;
  transform: scale(0.9);
}
.films-page__pagination-btn.active {
  transform: scale(1.1);
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -40%;
  }
}
.footer {
  background-color: var(--bg-color);
  padding: 41px 20px;
  border: 2px solid var(--border-red);
  border-bottom: none;
}
.footer__futa-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 57px;
}
.footer__futa-logo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
}
.footer__futa-logo > h2 {
  color: var(--accent-red);
  font-size: 22px;
  font-weight: 700;
}
.footer__futa-logo > h3 {
  color: var(--secondary-text-color);
  font-size: 16px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  gap: 25px;
}
.footer__links-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 5px;
}
.footer__links-container > p {
  color: var(--secondary-text-color);
}
.footer__links > p {
  color: var(--secondary-text-color);
}

.movie-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  background-color: var(--bg-level-1);
}
.movie-page__banner-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 60px;
  background-color: var(--bg-level-2);
}
.movie-page__player-frame {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 60px;
  background-color: var(--bg-level-2);
}

.banner-info__banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  gap: 136px;
}
.banner-info__banner-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  gap: 21px;
}
.banner-info__banner-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 30px;
}
.banner-info__banner-text > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
}
.banner-info__banner-text > div:first-child > h2 {
  color: var(--main-text-color);
  font-size: 20px;
}
.banner-info__banner-text > div:first-child > h3 {
  color: var(--secondary-text-color);
  font-size: 16px;
}
.banner-info__banner-text > div:first-child > p {
  color: var(--secondary-text-color);
  font-size: 14px;
}
.banner-info__banner-text > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
}
.banner-info__banner-text > div:last-child > h2 {
  color: var(--main-text-color);
  font-size: 20px;
}
.banner-info__banner-text > div:last-child > p {
  color: var(--secondary-text-color);
  font-size: 14px;
}
.banner-info__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 15px;
}
.banner-info__image {
  width: 180px;
  height: 250px;
}

.info__info-1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 10px;
}
.info__info-1 > h2 {
  color: var(--main-text-color);
}
.info__info-1 > p {
  color: var(--secondary-text-color);
  font-size: 14px;
}
.info__info-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 10px;
}
.info__info-2 > h2 {
  color: var(--main-text-color);
}
.info__info-2 > p {
  color: var(--secondary-text-color);
  font-size: 14px;
}
.info__info-3 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 10px;
}
.info__info-3 > h2 {
  color: var(--main-text-color);
}
.info__info-3 > div {
  width: 267px;
}
.info__info-3 > div > p {
  color: var(--secondary-text-color);
  font-size: 14px;
}
.info__info-4 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 10px;
}
.info__info-4 > h2 {
  color: var(--main-text-color);
}
.info__info-4 > p {
  color: var(--secondary-text-color);
  font-size: 14px;
}

.player-frame__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  gap: 30px;
}
.player-frame__text-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 17px;
}
.player-frame__text-info > h2 {
  font-size: 22px;
}
.player-frame__text-info > h3 {
  font-size: 18px;
}
.player-frame__player {
  width: 850px;
  background-color: #fff;
  height: 550px;
}
.player-frame__iframe {
  width: 100%;
  height: 100%;
}

#description {
  text-align: justify;
  font-size: 14px;
}

.profile {
  width: 100%;
  background-color: #1E1E1E;
  padding: 50px 85px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  gap: 30px;
}
.profile__pr-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.profile__profile-bg {
  width: 100%;
  padding: 15px 36px;
  background-color: #353535;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.profile__info {
  width: 100%;
  padding: 27px 36px;
  background-color: #292828;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.profile__info-when-created {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.profile__info-logout {
  border-radius: 30px;
  padding: 7px 40px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-red);
}
.profile__info-when-was-online {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.profile__favorites-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
}

.profile > h2 {
  font-size: 24px;
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */
