@use "../../mixins";

.header {
  width: 100%;
  padding: 21px 20px;
  @include mixins.flex(row, space-between, center, nowrap);
  border: 2px solid var(--border-red);
  border-top: none;
  background-color: var(--bg-color);;

  &__logo {
    @include mixins.flex(column, start, start, nowrap);
  }
  &__logo > h1 {
    font-size: 22px;
    color: var(--accent-red);
    font-weight: 700;
  }
  &__logo > h2 {
    color: var(--main-text-color);
  }
  &__nav {
    width: 400px;
    @include mixins.flex(row, start, center, nowrap);
  }
  &__nav > form {
    width: 400px;
    background-color: white;
    padding: 8px 24px;
    border-radius: 30px;
    @include mixins.flex(row, space-between, start, nowrap);
  }
  &__nav > form > input{
    width: 100%;
    color: #000000;
  }
  &__nav > form > label{
    display: none;
  }
  &__buttons {
    @include mixins.flex(row, start, center, nowrap);
  }
}

//.light-theme-header {
//  background-color: #FFFFFF;
//  color: #000000;
//  border-color: #000000;
//
//  .header__logo > h2 {
//    color: #000000;
//  }
//
//  .buttons__heart-icon {
//    font-weight: 600;
//    color: #000000;
//    border: 2px solid #000000;
//  }
//
//  .buttons__button {
//    font-weight: 600;
//    color: #000000;
//    border: 2px solid #000000;
//  }
//
//  .header__logo > h1 {
//    color: #8B0000;
//  }
//}

.nav {
  border: 2px solid var(--border-red-header);
  border-radius: 30px;
}

.buttons {

  &__heart-icon {
    border: 2px solid var(--border-red-header);
    border-radius: 6px;
    padding: 0 24px 0 24px;
    height: 34px;
    display: none;
    align-items: center;
  }
  &__button {
    border: 2px solid var(--border-red-header);
    border-radius: 6px;
    padding: 0 24px 0 24px;
    height: 34px;
  }
}