@use "../../mixins";

.footer {
  background-color: var(--bg-color);
  padding: 41px 20px;
  border: 2px solid var(--border-red);
  border-bottom: none;
  &__futa-container {
    @include  mixins.flex(row, start, center, nowrap);
    gap: 57px;
  }
  &__futa-logo {
    @include mixins.flex(column, start, start, nowrap);
  }
  &__futa-logo > h2{
    color: var(--accent-red);
    font-size: 22px;
    font-weight: 700;
  }
  &__futa-logo > h3{
    color: var(--secondary-text-color);
    font-size: 16px;
  }
  &__links {
    @include mixins.flex(column, center, start, nowrap);
    gap: 25px;
  }
  &__links-container {
    @include mixins.flex(column, start, start, nowrap);
    gap: 5px;
  }
  &__links-container > p {
    color: var(--secondary-text-color);
  }
  &__links > p {
    color: var(--secondary-text-color);
  }
}

//.light-theme-footer {
//  background-color: #FFFFFF;
//  color: #000000;
//  border: 1px solid #000000;
//  border-bottom: none;
//
//  .footer__futa-logo > h2 {
//    color: #8B0000;
//  }
//  .footer__futa-logo > h3 {
//    color: #000000;
//  }
//}